img{
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;
  /* transform: scale(1.1); */
  /* padding: 10px; */
}
img:hover{
  transform: scale(1.12);
}
.cs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  font-size: 5em;
  font-family: fantasy;
  font-style: italic;
  font-weight: lighter;
  color: yellow;
  border-bottom: 2px solid green;
  border-top:2px dashed green;
  text-align: center;
  border-left: 2px dashed lightblue;
  border-right: 2px dashed lightblue;
  border-width: medium;
  box-shadow: 10px 5px 5px lightblue;
}
